@font-face {
    font-family: GothamLight;
    src: url(../fonts/gotham_light.eot);
    src: url(../fonts/gotham-light.woff);
}

body{
	font-size: 16px;
	font-family: GothamLight;
	color: #fff;
}

hr{
	border-color: white;
}

.done{
	text-decoration: line-through;
	color: #ccc;
}

.form-group{
	width: 100%;
}

label, textarea, input[type="text"], input[type="submit"]{
	display: block;
	width: 100%;
}

button{
	width: 49%
}

input[type="submit"], button{
	border:none;
	padding: 8px 0 8px;
	border-radius: 5px;
	font-family: helvetica, arial, sans-serif;
}

label{
	width: 20%;
	margin: 0 auto;
	margin-bottom: 5px;
}

textarea{
	resize:none;
}

a{
	color: white;
}

input[type="checkbox"]{
	display: inline;
	width: 15px;
	height: 15px;
}

ul{
	width: 100%;
	list-style: none;
	margin: 25px auto 25px;
	padding-left: 0;
}

li{
	margin: 15px auto 15px;
}

h1{
	margin-bottom: 26px;
}

.addToDoRow{
	padding-top: 20px;
	padding-bottom: 50px;
	background-image: url(../images/fondo2.png);
	background-position: 0 -100px;
	background-repeat: no-repeat;
}

.addToDoRow input[type="text"], .addToDoRow textarea, .addToDoRow input[type="date"]{
	color:#000;
}

.displayToDos{
	background-color: #8c8c8c;
	padding: 0 0 30px 0;
}

input[type="checkbox"]{
		margin-left: 15px;
}

table{
	background-color: #e6e6e6;
	color: #404040;
}